# source venv/bin/activate # or do whatever command activates your python interpreter in the terminal
# pip install --upgrade -r requirements.txt

astropy
cycler
kiwisolver
matplotlib
numpy
pandas
pyparsing
python-dateutil
pytz
scipy
lmfit
six
specutils

