# This is a basic workflow to help you get started with Actions

name: Create Issue Branch

on:
    issues:
        types: [assigned]
    issue_comment:
        types: [created]

jobs:
    create_issue_branch_job:
        runs-on: ubuntu-latest
        steps:
        - name: Create Issue Branch
          uses: robvanderleek/create-issue-branch@main
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
